<meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->
<head>
	<title>GPIO Bachelorarbeit</title>
	<!--<Link rel="stylesheet" type="text/css" href="/style.css"/>-->
        <Link rel="stylesheet" type="text/css" href="/style2.css"/>
	<Link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
	<script language="javascript" type="text/javascript" src="/script2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script></script>
</head>
<body>
	<div style="float:left; position:absolute; bottom: 0;margin-left:580px; width:360px;">
		<h3 id='text_laterne'  style="margin: 10 auto; text-align:center;">Street light GPIO</h3>
		<image id="laterne" src = '/images/Laterne.png' onclick="repeat_update_laterne()" alt="street light" style="margin: 0 auto;"/>
        </div>
	<div style="float:left; margin-left:30px; width:200px;">
		<h3 id='text_schalter' style="margin: 10 auto; text-align:center;">Controller GPIO</h3>
		<image id="schalter" src = '/images/Schalter.png' onclick="change_schalter()" alt="controller" style="width:150px; margin-left:25px;"/>
	</div>


	<div class="dropdown_border">
		<div class="dropdown">
                        <button onclick="toggle_selection2()" class="dropbtn">set controller</button>
                        <div id="myDropdown2" class="dropdown-content">
                                <button id='pin1' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 1</button>
                                <button id='pin2' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 2</button>
                                <button id='pin3' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 3</button>
                                <button id='pin4' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 4</button>
                                <button id='pin5' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 5</button>
                                <button id='pin6' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 6</button>
                                <button id='pin7' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 7</button>
                                <button id='pin8' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 8</button>
                                <button id='pin9' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 9</button>
                                <button id='pin10' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 10</button>
                                <button id='pin11' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 11</button>
                                <button id='pin12' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 12</button>
                                <button id='pin13' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 13</button>
                                <button id='pin14' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 14</button>
                                <button id='pin15' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 15</button>
                                <button id='pin16' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 16</button>
                                <button id='pin17' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 17</button>
                                <button id='pin18' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 18</button>
                                <button id='pin19' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 19</button>
                                <button id='pin20' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 20</button>
                                <button id='pin21' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 21</button>
                                <button id='pin22' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 22</button>
                                <button id='pin23' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 23</button>
                                <button id='pin24' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 24</button>
                                <button id='pin25' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 25</button>
                                <button id='pin26' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 26</button>
                        </div>
                </div>
		<div class="dropdown">
			<button onclick="toggle_selection1()" class="dropbtn">set street light</button>
			<div id="myDropdown1" class="dropdown-content">
				<button id='pin1' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 1</button> 
				<button id='pin2' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 2</button>
				<button id='pin3' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 3</button>
				<button id='pin4' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 4</button>
				<button id='pin5' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 5</button>
				<button id='pin6' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 6</button>
				<button id='pin7' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 7</button>
				<button id='pin8' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 8</button>
				<button id='pin9' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 9</button>
				<button id='pin10' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 10</button>
				<button id='pin11' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 11</button>
				<button id='pin12' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 12</button>
				<button id='pin13' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 13</button>
				<button id='pin14' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 14</button>
				<button id='pin15' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 15</button>
				<button id='pin16' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 16</button>
				<button id='pin17' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 17</button>
				<button id='pin18' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 18</button>
				<button id='pin19' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 19</button>
				<button id='pin20' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 20</button>
				<button id='pin21' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 21</button>
				<button id='pin22' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 22</button>
				<button id='pin23' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 23</button>
				<button id='pin24' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 24</button>
				<button id='pin25' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 25</button>
				<button id='pin26' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 26</button>
			</div>
		</div>
	</div>


	<div style="position:fixed;left:0px;bottom:0px;">
                <div id='Zur端ck' class="BorderMargin" style="float:left; display:initial">
                        <image id='Zur端ck_image' src="/images/Zur端ck.png" alt="Zur端ck" style="width:120px;height:120px;">
                        <form action="/" method="get"/>
                                <button type="submit" class="button">back</button>
                        </form>
                        <p id='Anwendung_text' class="status_text">back to monitoring</p>
                </div>
	        <div id='Anwendung2' class="BorderMargin" style="float:left; display:initial">
	                <image id='Anwendung_image' class='imageLED' src="/images/Weiter.png" alt="Weiter" style="width:120px;height:120px;">
		        <form action="/Anwendungsbeispiel2/" method="get"/>
		                <button type="submit" class="button">continue</button>
		        </form>
		        <p id='Anwendung_text' class="status_text">continue to Anwendung 2</p>
		</div>
		<div id='API' class="BorderMargin" style="float:left; display:initial">
			<image id='Fragezeichen_image' src="/images/Fragezeichen.png" alt="Fragezeichen" style="width:120px;height:120px;">
			<form action="/api" method="post"/>
				<button type="submit" class="button">click</button>
			</form>
			<p id='Unexport_text' class="status_text">click to show JSON-API</p>
		</div>
	</div>
	<div style="position:fixed; bottom:0; right:0">
		<image src = '/images/nodejs-logo3.png' alt="LOGO" style="height:180px;  float:right;">
		<image src = '/images/rpi-logo.png' alt="LOGO" style="width:140px;height:180px;  float:right;">
		<image src = '/images/github.png' alt="LOGO" style="width:200px;height:200px;  float:right;">
                <div style="text-align:right;">Author: Stefan Chalupka</div>
	</div>
</body>
