<meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->
<head>
	<title>GPIO Bachelorarbeit</title>
	<!--<Link rel="stylesheet" type="text/css" href="/style.css"/>-->
        <Link rel="stylesheet" type="text/css" href="/style2.css"/>
	<Link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
	<script language="javascript" type="text/javascript" src="/script2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
	</script>
</head>
<body>
	<div>
	<form action="" method="">
		<div id="jsalarmclock">
			<div>
				<div class="leftcolumn">Aktuelle Zeit:</div>
				<span id="jsalarm_ct" style="letter-spacing: 2px"></span>
			</div>
			<div>
				<div class="leftcolumn">Set Alarm:</div> 
				<span><select></select> Hour</span> 
				<span><select></select> Minutes</span> 
				<span><select></select> Seconds</span>
			</div>
			<div>
				<div class="leftcolumn">Set POST Data:</div> 
				<input type="text" id="musicloc" size="55" value='{"direction":{"pin1":"out"},"value":{"pin1":"1"}}' /> 
				<span style="font: normal 11px Tahoma"> *</span>

			</div>
			<input type="submit" value="Set Alarm !" id="submitbutton" /> 
			<input type="reset" value="reset" id="resetbutton" />
                        <span style="font: normal 11px Tahoma">    *Beispiel als Formatvorlage</span>

		</div>
	</form>
	</div>
	<script type="text/javascript">
		jsalarm.init()
	</script>


	<div style="float:left; margin-left:580px; width:360px; bottom:0px">
		<h3 id='text_laterne'  style="margin: 10 auto; text-align:center;">Laterne GPIO</h3>
		<image id="laterne" src = '/images/Laterne.png' onclick="update_laterne()" alt="Laterne" style="margin: 0 auto;"/>
        </div>

	<div style="float:left; margin-left:30px; width:200px; bottom:0px; margin-top: 200px;">
		<h3 id='text_schalter' style="margin: 10 auto; text-align:center;">Schalter GPIO</h3>
		<image id="schalter" src = '/images/Schalter.png' onclick="change_schalter()" alt="Schalter" style="width:150px; margin-left:25px;"/>
	</div>


	<div class="dropdown_border">
		<div class="dropdown">
			<button onclick="toggle_selection1()" class="dropbtn">Laterne</button>
			<div id="myDropdown1" class="dropdown-content">
				<button id='pin1' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 1</button> 
				<button id='pin2' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 2</button>
				<button id='pin3' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 3</button>
				<button id='pin4' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 4</button>
				<button id='pin5' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 5</button>
				<button id='pin6' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 6</button>
				<button id='pin7' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 7</button>
				<button id='pin8' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 8</button>
				<button id='pin9' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 9</button>
				<button id='pin10' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 10</button>
				<button id='pin11' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 11</button>
				<button id='pin12' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 12</button>
				<button id='pin13' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 13</button>
				<button id='pin14' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 14</button>
				<button id='pin15' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 15</button>
				<button id='pin16' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 16</button>
				<button id='pin17' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 17</button>
				<button id='pin18' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 18</button>
				<button id='pin19' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 19</button>
				<button id='pin20' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 20</button>
				<button id='pin21' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 21</button>
				<button id='pin22' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 22</button>
				<button id='pin23' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 23</button>
				<button id='pin24' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 24</button>
				<button id='pin25' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 25</button>
				<button id='pin26' type="button" class="button button2" onclick="set_Laterne(this)"">GPIO 26</button>
			</div>
		</div>
		<div class="dropdown">
			<button onclick="toggle_selection2()" class="dropbtn">Schalter</button>
			<div id="myDropdown2" class="dropdown-content">
				<button id='pin1' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 1</button>
				<button id='pin2' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 2</button>
				<button id='pin3' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 3</button>
				<button id='pin4' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 4</button>
				<button id='pin5' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 5</button>
				<button id='pin6' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 6</button>
				<button id='pin7' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 7</button>
				<button id='pin8' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 8</button>
				<button id='pin9' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 9</button>
				<button id='pin10' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 10</button>
				<button id='pin11' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 11</button>
				<button id='pin12' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 12</button>
				<button id='pin13' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 13</button>
				<button id='pin14' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 14</button>
				<button id='pin15' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 15</button>
				<button id='pin16' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 16</button>
				<button id='pin17' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 17</button>
				<button id='pin18' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 18</button>
				<button id='pin19' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 19</button>
				<button id='pin20' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 20</button>
				<button id='pin21' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 21</button>
				<button id='pin22' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 22</button>
				<button id='pin23' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 23</button>
				<button id='pin24' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 24</button>
				<button id='pin25' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 25</button>
				<button id='pin26' type="button" class="button button2" onclick="set_Schalter(this)"">GPIO 26</button>
			</div>
		</div>
	</div>


	<div style="position:fixed;left:0px;bottom:0px;">
                <div id='Zurück' class="BorderMargin" style="float:left; display:initial">
                        <image id='Zurück_image' src="/images/Zurück.png" alt="Zurück" style="width:120px;height:120px;">
                        <form action="/" method="get"/>
                                <button type="submit" class="button">Zurück</button>
                        </form>
                        <p id='Anwendung_text' class="status_text">Zurück zum Monitoring</p>
                </div>

		<div id='API' class="BorderMargin" style="float:left; display:initial">
			<image id='Fragezeichen_image' src="/images/Fragezeichen.png" alt="Fragezeichen" style="width:120px;height:120px;">
			<form action="/api" method="post"/>
				<button type="submit" class="button">Klick</button>
			</form>
			<p id='Unexport_text' class="status_text">Klick to show JSON-API</p>
		</div>
	</div>
	<div style="position:fixed; bottom:0; right:0">
		<image src = '/images/nodejs-logo.png' alt="LOGO" style="width:180px;height:180px;  float: right;">
		<image src = '/images/rpi-logo.png' alt="LOGO" style="width:140px;height:180px;  float: right;">
		<image src = '/images/github.png' alt="LOGO" style="width:200px;height:200px;  float: right;">
	</div>
</body>





<script>
/*
$(document).ready(function(){
  $("#button_test").click(function(){
    $.get("/api/", function(data, status){
      alert("Data: " + data + "\nStatus: " + status);});});});

        <div>
        <form action="/api" style="position:absolute;left:700px;top:500px;"/>
        <input type="text" name="pin" value="1"><br>
        <input type="text" name="direction" value="out"><br>
        <input type="submit" value="Submit">
        </form>
        <button id=button_test>teseeeeeeeeeeeeeeeeeeeeeeeeet</button>
        </div>
*/
</script>
