<meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->

<head>
<title>GPIO Bachelorarbeit</title>
<Link rel="stylesheet" type="text/css" href="/style2.css"/>
<Link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<script language="javascript" type="text/javascript" src="/script2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#button_test").click(function(){
    $.get("/api/", function(data, status){
      alert("Data: " + data + "\nStatus: " + status);
    });
  });
});


</script>
</head>


<body>
        <image id="laterne" src = '/images/Laterne.png' onclick="check_pin()" alt="Laterne" style="float: left;position:absolute; bottom:0">
        <image id="schalter" src = '/images/Schalter.png' onclick="change()" alt="Schalter" style="width:150px;position:absolute;left:330px;top:450px;"/>


	<div class="dropdown_border">
	 <div class="dropdown">
	  <button onclick="toggle_selection1()" class="dropbtn">Schalter</button>
	  <div id="myDropdown1" class="dropdown-content">
            <a href="#" class="a_dropdown">GPIO 1</a>
            <a href="#" class="a_dropdown">GPIO 2</a>
            <a href="#" class="a_dropdown">GPIO 3</a>
            <a href="#" class="a_dropdown">GPIO 4</a>
            <a href="#" class="a_dropdown">GPIO 5</a>
            <a href="#" class="a_dropdown">GPIO 6</a>
            <a href="#" class="a_dropdown">GPIO 7</a>
            <a href="#" class="a_dropdown">GPIO 8</a>
            <a href="#" class="a_dropdown">GPIO 9</a>
            <a href="#" class="a_dropdown">GPIO 10</a>
            <a href="#" class="a_dropdown">GPIO 11</a>
            <a href="#" class="a_dropdown">GPIO 12</a>
            <a href="#" class="a_dropdown">GPIO 13</a>
            <a href="#" class="a_dropdown">GPIO 14</a>
            <a href="#" class="a_dropdown">GPIO 15</a>
            <a href="#" class="a_dropdown">GPIO 16</a>
            <a href="#" class="a_dropdown">GPIO 17</a>
            <a href="#" class="a_dropdown">GPIO 18</a>
            <a href="#" class="a_dropdown">GPIO 19</a>
            <a href="#" class="a_dropdown">GPIO 20</a>
            <a href="#" class="a_dropdown">GPIO 21</a>
            <a href="#" class="a_dropdown">GPIO 22</a>
            <a href="#" class="a_dropdown">GPIO 23</a>
            <a href="#" class="a_dropdown">GPIO 24</a>
            <a href="#" class="a_dropdown">GPIO 25</a>
            <a href="#" class="a_dropdown">GPIO 26</a>
	  </div>
         <div class="dropdown">
          <button onclick="toggle_selection2()" class="dropbtn">Laterne</button>
          <div id="myDropdown2" class="dropdown-content">
            <a href="#" class="a_dropdown">GPIO 1</a>
            <a href="#" class="a_dropdown">GPIO 2</a>
            <a href="#" class="a_dropdown">GPIO 3</a>
            <a href="#" class="a_dropdown">GPIO 4</a>
            <a href="#" class="a_dropdown">GPIO 5</a>
            <a href="#" class="a_dropdown">GPIO 6</a>
            <a href="#" class="a_dropdown">GPIO 7</a>
            <a href="#" class="a_dropdown">GPIO 8</a>
            <a href="#" class="a_dropdown">GPIO 9</a>
            <a href="#" class="a_dropdown">GPIO 10</a>
            <a href="#" class="a_dropdown">GPIO 11</a>
            <a href="#" class="a_dropdown">GPIO 12</a>
            <a href="#" class="a_dropdown">GPIO 13</a>
            <a href="#" class="a_dropdown">GPIO 14</a>
            <a href="#" class="a_dropdown">GPIO 15</a>
            <a href="#" class="a_dropdown">GPIO 16</a>
            <a href="#" class="a_dropdown">GPIO 17</a>
            <a href="#" class="a_dropdown">GPIO 18</a>
            <a href="#" class="a_dropdown">GPIO 19</a>
            <a href="#" class="a_dropdown">GPIO 20</a>
            <a href="#" class="a_dropdown">GPIO 21</a>
            <a href="#" class="a_dropdown">GPIO 22</a>
            <a href="#" class="a_dropdown">GPIO 23</a>
            <a href="#" class="a_dropdown">GPIO 24</a>
            <a href="#" class="a_dropdown">GPIO 25</a>
            <a href="#" class="a_dropdown">GPIO 26</a>
          </div>
	</div>


	<div style="position:absolute;left:630px;top:450px;"></div>

	<div>
        <form action="/api" style="position:absolute;left:700px;top:500px;"/>
        <input type="text" name="pin" value="1"><br>
        <input type="text" name="direction" value="out"><br>
        <input type="submit" value="Submit">
	</form>
        <button id=button_test>teseeeeeeeeeeeeeeeeeeeeeeeeet</button>
	</div>
</body>



<a href="/api">
<image id="schalter"......
</a>
