body {
   background-image: url("/images/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
button {
    background-color: #e7e7e7; /* Grey */
    border: 1px;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    height:50px;
    width:120px;
}
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button5 {background-color: white; color: black;}
.button4 {background-color: grey;}/* Green */


.MCbutton {
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   float: left;
   margin: 2px;
   padding: 3px;
   width: 127px;
   height: 300px;
   border: 2px solid black;
   border-radius: 6px;
}
.B1 {background-color: orange; color: black}
.B2 {background-color: red; color:black}


p.status_text {
   text-align: center;
   font-weight: bold;
}

.BorderMargin {
   margin: 10px;
   padding: 5px;
   width: screen.width;
   max-width: screen.width;
   border: 3px solid black;
   display:inline-block;
}

.BorderMargin_LED {
   float: left;
   margin: 2px;
   padding: 3px;
   width: 127px;
   height: 280px;
   border: 2px solid black;
   border-radius: 6px;
   display:none; //visibility:hidden
}

div.start_led {
  float: left;
  width: 70px;
  height: 118px;
  padding: 10px;
  border: 1px solid black;
}

