.Anwendung_2_Border {
	position:absolute;
	top:40%;
	left:30%;
	border:2px solid black;
	border-radius: 6px;
}
.Rahmen_abstand {
	margin:15px;
}

/*CSS Für den Wecker*/
/* Quelle: javascriptkit.com script script2 alarm.shtml*/

#jsalarmclock{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12px;}
#jsalarmclock div{
	margin-bottom: 0.8em;}
#jsalarmclock div.leftcolumn{
	float: left;
	width: 150px;
	font-size: 13px;
	background-color: lightyellow;
	clear: left;}
#jsalarmclock span{
	margin-right: 5px;}
